# dependencias
node_modules
.pnp
.pnp.js

# carpetas de distribución (build)
dist
dist-ssr
build
coverage

# archivos locales y de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.local

# archivos de entorno
.env
.env.*
!.env.example

# archivos de editores y OS
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de base de datos SQLite (¡Ignorar para no subir data al repo!)
*.sqlite
*.sqlite3
*.db
*.db-journal

# Caché de TypeScript
*.tsbuildinfo

# Carpetas temporales y subidas de usuario
uploads/
/server/uploads/
